html {
height: 100%;

}

body{
margin:0;
padding:0;
font-size:13px;
background-color: #e9e9e9;
color:#393d3c;
font-family: tahoma, cambria, verdana, arial, sans-serif;
}

/*****************content**********************/
.theme-twizoom{
margin-top: 50px;
}
.navbar-twizoom {
background-color: #032330;
}
.navbar-twizoom a {
color: white;
}
.navbar-twizoom a:hover {
color: white;
}
#home_tweets {
margin: 0 auto;
width: 905px;
}


/**************end***content**********************/
/*****************post**********************/

#post {
background-color: rgb(255, 255, 255);
border: 1px solid rgb(225, 232, 237);
box-sizing: border-box;
line-height: 1.375em;
padding: 5px 15px 12px;
position: relative;
width: 100%;
border-top: none;
}
#post:hover{
    background-color: #F4F8FB;
}
.all_posts {
background-color: rgb(255, 255, 255);
border: 1px solid rgb(225, 232, 237);
box-sizing: border-box;
line-height: 1.375em;
padding: 5px 15px 12px;
position: relative;
margin-bottom: 5px;
float: right;
width: 6%;
}

#post:hover .icons{
    display:block;
}

.icons {
    /*display: none;*/
float: right;
    margin-top: -12px;
}
.twirank_post{
position: absolute;
padding: 3px;
left: 13px;
background: #F77;
top: 8px;
font-size: 14px;
font-weight: 300;
color: #232323;
cursor: pointer;
}

.user_post_img {
width: 25px;
height: 25px;
border-radius: 5px;
float: left;
margin-top: 3px;
margin-left: 60px;
-moz-force-broken-image-icon: 1;
}
.user_post_name {
display: none;
padding-top: 0px;
margin-top: 3px;
font-size: 14px;
line-height: 1.25;
float: left;
color: black;
margin-right: 5px;
margin-left: 8px;
}
.user_post_nick{
display: none;
padding-top: 0px;
margin-top: 3px;
font-size: 14px;
color: #8899a6;
line-height: 1.25;
margin-right: 20px;
margin-left: 8px;
font-weight: normal;
}
.user_post_text{
margin: 6px 110px 1px 95px;
font-size: 14px;
}
.reply_span{
background-image: url(/static/img/reply.png);
width: 15px;
height: 11px;
float: left;
margin-right: 5px;
margin-top: 2px;
}
.favorite_span{
background-image: url(/static/img/favorite.png);
width: 14px;
height: 12px;
float: left;
margin-right: 5px;
margin-top: 2px;
}
.retweet_span{
background-image: url(/static/img/retweet.png);
width: 15px;
height: 18px;
margin-right: 5px;
float: left;
margin-top: 1px;
}/*
.icons a{
 float: left;
margin-right: 10px;
color: rgb(167, 167, 167);
font-size: 12px;
}*/
.twirank_post:hover{
    text-decoration: none;
    color: black;
}
/*
.twirank_post {
padding: 2px 5px 2px 5px;
/*background-color: #f33745;*//*
color: black;
border-radius: 5px;
font-weight: bold;
}
*/

.user_post_image{
vertical-align: middle;
width: 89%;
margin-left: 58px;
border-radius: 5px;
margin-bottom: 20px;
}
/**************end***post**********************/
.dro:active .country{

    background-color: red;
}
.country{
background-color: rgb(224, 224, 224);
padding-top: 35px;
padding-bottom: 3px;

}
#country_link {
color: black;
padding-left: 10px;
}
.catid{
font-weight: 400;
color: red!important;
border: none;
background: 0 0;
-webkit-box-shadow: none;
box-shadow: none;
background-color: #F3F3F3;
border-radius: 3px;
padding: 2px 4px 2px 4px;
}

.what {
height: 18px;
background-color: #009EB4;
position: fixed;
right: 160px;
color: white;
top: 18px;
z-index: 1070;
border-radius: 5px;
font-size: 13px;
padding: 0px 10px 0px 10px;
}



/************end*****post**********************/
#tops {
position: absolute;
left: 44%;
z-index: 10000;
top: 14px;
color: white;
}
#tops a {
color: white;
}
#tops span{
width: 27px;
height: 27px;
}
@media only screen and (max-width: 1100px) {
#tops {
display:none;
}
}
/****************original_tweet******************/
#original_twit {
margin: 0 auto;
width: 905px;
}
#original_post {
background-color: rgb(255, 255, 255);
border: 1px solid rgb(225, 232, 237);
box-sizing: border-box;
line-height: 1.375em;
padding: 5px 15px 3px;
position: relative;
width: 100%;
border-top: none;
}
#original_post:hover{
    background-color: #F4F8FB;
}
.original_all_posts {
background-color: rgb(255, 255, 255);
border: 1px solid rgb(225, 232, 237);
box-sizing: border-box;
line-height: 1.375em;
padding: 5px 15px 12px;
position: relative;
margin-bottom: 5px;
float: right;
width: 6%;
}

#original_post:hover .icons{
    display:block;
}

.original_icons  {
    margin-left: 120px;
    margin-top: 15px;
}
.original_twirank_post {
padding: 1px 5px 0px 5px;
left: 13px;
background: #F77;
top: 8px;
font-size: 14px;
border-radius: 5px;
font-weight: 300;
color: #000000;
cursor: pointer;
float: left;
}

.original_user_post_img {
width: 25px;
height: 25px;
border-radius: 5px;
float: left;
-moz-force-broken-image-icon: 1;
}
.original_user_post_name {
padding-top: 0px;
margin-top: 5px;
font-size: 14px;
line-height: 1.25;
float: left;
color: black;
margin-right: 5px;
margin-left: 8px;
}
.original_user_post_nick{
padding-top: 0px;
font-size: 14px;
line-height: 27px;
color: #8899a6;
margin-right: 5px;
margin-left: 8px;
font-weight: normal;
}
.original_user_post_text{
margin: 10px 0px 1px 0px;
font-size: 24px;
line-height: 30px;
font-weight: bold;
}
.original_reply_span{
background-image: url(/static/img/reply.png);
width: 15px;
height: 11px;
float: left;
margin-right: 5px;
margin-top: 2px;
}
.original_favorite_span{
background-image: url(/static/img/favorite.png);
width: 14px;
height: 12px;
float: left;
margin-right: 5px;
margin-top: 2px;
}
.original_retweet_span{
background-image: url(/static/img/retweet.png);
width: 15px;
height: 18px;
margin-right: 5px;
float: left;
margin-top: 1px;
margin-left: 50px
}/*
.icons a{
 float: left;
margin-right: 10px;
color: rgb(167, 167, 167);
font-size: 12px;
}*/
.original_twirank_post:hover{
    text-decoration: none;
    color: black;
}
/*
.twirank_post {
padding: 2px 5px 2px 5px;
/*background-color: #f33745;*//*
color: black;
border-radius: 5px;
font-weight: bold;
}
*/

.original_user_post_image{
vertical-align: middle;
width: 28%;
float: left;
margin: -5px 22px 0px -15px;
}
.original_user_post_video{
vertical-align: middle;
width: 28%;
float: left;
margin: -5px 22px -20px -15px;
}
#original_related p {
position: absolute;
background: #ffd500;
margin-top: -26px;
padding: 3px 10px 3px 14px;
left: 984px;
}
.original_favorite {
    float:left;
    margin-left: 50px
}
.original_reply {
    float:left;
    margin-left: 50px
}
/****************end_original_tweet******************/
/****************similar_tweet******************/
#similar_post {
background-color: rgb(255, 255, 255);
border: 1px solid rgb(225, 232, 237);
box-sizing: border-box;
line-height: 1.375em;
padding: 5px 15px 12px;
position: relative;
width: 100%;
border-top: none;
}
#similar_post:hover{
    background-color: #F4F8FB;
}
.similar_all_posts {
background-color: rgb(255, 255, 255);
border: 1px solid rgb(225, 232, 237);
box-sizing: border-box;
line-height: 1.375em;
padding: 5px 15px 12px;
position: relative;
margin-bottom: 5px;
float: right;
width: 6%;
}

#similar_post:hover .icons{
    display:block;
}

.similar_icons {
    /*display: none;*/
float: right;
    margin-top: -12px;
}
.similar_twirank_post{
position: absolute;
padding: 3px;
left: 13px;
background: #F77;
top: 8px;
font-size: 14px;
font-weight: 300;
color: #232323;
cursor: pointer;
}

.similar_user_post_img {
width: 25px;
height: 25px;
border-radius: 5px;
float: left;
margin-top: 3px;
margin-left: 60px;
-moz-force-broken-image-icon: 1;
}
.similar_user_post_name {
display: none;
padding-top: 0px;
margin-top: 3px;
font-size: 14px;
line-height: 1.25;
float: left;
color: black;
margin-right: 5px;
margin-left: 8px;
}
.similar_user_post_nick{
display: none;
padding-top: 0px;
margin-top: 3px;
font-size: 14px;
color: #8899a6;
line-height: 1.25;
margin-right: 20px;
margin-left: 8px;
font-weight: normal;
}
.similar_user_post_text{
margin: 6px 110px 1px 95px;
font-size: 14px;
}
.similar_reply_span{
background-image: url(/static/img/reply.png);
width: 15px;
height: 11px;
float: left;
margin-right: 5px;
margin-top: 2px;
}
.similar_favorite_span{
background-image: url(/static/img/favorite.png);
width: 14px;
height: 12px;
float: left;
margin-right: 5px;
margin-top: 2px;
}
.similar_.retweet_span{
background-image: url(/static/img/retweet.png);
width: 15px;
height: 18px;
margin-right: 5px;
float: left;
margin-top: 1px;
}/*
.similar_icons a{
 float: left;
margin-right: 10px;
color: rgb(167, 167, 167);
font-size: 12px;
}*/
.similar_twirank_post:hover{
    text-decoration: none;
    color: black;
}
/*
.similar_twirank_post {
padding: 2px 5px 2px 5px;
/*background-color: #f33745;*//*
color: black;
border-radius: 5px;
font-weight: bold;
}
*/

.similar_user_post_image{
vertical-align: middle;
width: 89%;
margin-left: 58px;
border-radius: 5px;
margin-bottom: 20px;
}


/****************end_similar_tweet******************/