{% extends "base.html" %}

{% block adduser %}
{% if error %}
<p style="color: red;">Введите поисковый запрос.</p>
{% endif %}
<form class="navbar-form navbar-left" role="search" action="" method="post">
    {% csrf_token %}
    <div class="form-group">
    <input class="form-control" type="text" name="nick">
        <select name="cat">
                <option value="1">news</option>
                <option value="2">movies & TV</option>
                <option value="3">music</option>
                <option value="4">games</option>
                <option value="5">sports</option>
                <option value="6">technology</option>
                <option value="7">travel</option>
                <option value="8">business</option>
                <option value="9">politics</option>
                <option value="10">art & Design</option>
                <option value="11">fashion</option>
                <option value="12">funny</option>
                <option value="13">auto</option>
                <option value="14">other</option>
           </select>
    </div>
    <input class="btn btn-default" type="submit" value="Добавить">
</form>

{% endblock %}
