{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>twizoomm</title>


{% if LANGUAGE_CODE == 'ur' or LANGUAGE_CODE == 'ar' %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/styletwo.css" />
{% else %}
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/css/style.css" />
 {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <link type="text/css" href="{{ STATIC_URL }}/static/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="{{ STATIC_URL }}/static/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="{{STATIC_URL}}/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}/static/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}/static/js/jquery.pjax.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}/static/js/bootstrapx-clickover.js" type="text/javascript"></script>




    <script type="text/javascript">
$(document).ready(function(){
    $('[rel="clickover"]').clickover()
    $('.what').tooltip('hide')

     });
</script>
<script type="text/javascript">
$(document).ready(function() {
$('#get_content').click(function() {
$.ajax({
  url: '{{ STATIC_URL }}/static/css/bootstrap.css',
  cache: false,
  beforeSend: function() { $('#content').html('Please wait...'); },
  success: function(html) { $('#content').html(html); },
  error: function() { $('#content').html('chtooooo...');}

</script>


<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="{{ STATIC_URL }}/static/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox -->
<link rel="stylesheet" href="{{ STATIC_URL }}/static/fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}/static/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<link rel="stylesheet" href="{{ STATIC_URL }}/static/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}/static/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/static/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}/static/fancybox/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}/static/fancybox/helpers/jquery.fancybox-thumbs.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$(".various").fancybox({
		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none'
	});
	});
</script>






</head>
<body>
<div class="navbar-wrapper">
<div id="tops">
    <a href="/{{ request.LANGUAGE_CODE  }}/world/">World  <span><img class="world_image" src="{{ STATIC_URL }}/static/img/world.png"></span>  Top</a>
</div>


{% if request.get_full_path|cut:request.LANGUAGE_CODE == '//retweet/' %}
        <span class="active">checheche</span>
    {% endif %}

    {% if request.get_full_path == request.LANGUAGE_CODE  %}
        <span class="active">testytesty</span>

        <span class="active">null</span>
    {% endif %}

   <nav class="navbar navbar-twizoom navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/{{ request.LANGUAGE_CODE  }}/">twiz<b>OO</b>m</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div style="margin: 0 auto; width: 600px;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/{{  request.LANGUAGE_CODE  }}/">TwiRank</a></li>
        <li><a href="/{{  request.LANGUAGE_CODE  }}/retweet/">Retweet</a></li>

        </ul>
         {% block category %}
    {% endblock %}

              {% get_available_languages as languages %}
              <ul class="nav navbar-nav navbar-right">
             <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Language <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% for lang_code, lang_name in languages %}
    {% language lang_code %}

            <li><a {% if LANGUAGE_CODE  == lang_code  %} style="color:red"{% endif %} href="http://127.0.0.1:8000/{{ lang_code }}/">{{ lang_name }}</a></li>
    {% endlanguage %}
{% endfor %}
          </ul>
        </li>
      </ul>


             <ul class="nav navbar-nav navbar-right">
             <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              {% for cat in categor %}

                    <li><a href="/{{  request.LANGUAGE_CODE  }}/{{ cat.CategoryText  }}/">{{ cat.CategoryText  }}
                            {% if cat.id|ally:request.LANGUAGE_CODE != 0 %}
                                  <b class="catid"> + {{  cat.id|ally:request.LANGUAGE_CODE }}</b>
                            {% endif %}

                    </a></li>


              {% endfor %}
          </ul>
        </li>
      </ul>




    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div data-toggle="tooltip" data-placement="bottom" title="Twizoom analyze the most interesting and popular tweets for you using a unique algorithm TwiRank" class="what"><p>What's this?</p></div>
    </div>





<div class="container theme-twizoom" role="main">
<div class="row">
<div class=".col-xs-12 .col-sm-6 .col-md-8">
{% block adduser %}
{% endblock %}
{% block contenty %}
{% endblock %}
{% block contents %}
{% endblock %}
{% block contentq %}
{% endblock %}


{% block full_index %}
{% endblock %}
</div>
<div class=".col-xs-6 .col-md-4 blog-sidebar">
</div>
</div>
</div>



</body>
</html>