
{% block category %}

<ul class="nav navbar-nav navbar-right">
             <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              {% for cat in categor %}

            <li><a href="/{{ cat.CategoryText  }}/">{{ cat.CategoryText  }} | {{  cat.id  }}</a></li>

              {% endfor %}
          </ul>
        </li>
      </ul>
{% endblock %}

