{% load endless %}

{% paginate entries %}
<div id="home_tweets">
                {% for tweet in entries %}
                        <div id="post" style="height: 47px;z-index: 1;opacity: 1;">
                        <a class="various fancybox.iframe" href="http://127.0.0.1:8000/ru/sim/491920434192211968/">test</a>
                        <a href="https://twitter.com/{{ tweet.user.nickname }}" target="_blank" class="user_post_link">
                             <img class="user_post_img" src="{{ tweet.user.profile_img }}">
                             <strong class="user_post_name">{{ tweet.user.name }}</strong>
                             <strong class="user_post_nick">@{{ tweet.user.nickname }}</strong>
                        </a>
                             <div class="tweettime">{# {{ tweet.creation_date }} #}</div>
                             <p class="user_post_text">{{ tweet.content|safe }}</p>
                             {% if tweet.url_img != 'none' %}
                             <!--<img class="user_post_image" src="{{ tweet.url_img }}">-->
                             {% endif %}
                             <a  class="twirank_post">{{ tweet.twirank|cut:"-" }}</a>

                             <div class="icons" style="display: none;">
                                 <a data-toggle="tooltip" title="" data-original-title="{{ tweet.count_far }}" class="favorite" target="_blank" href="http://twitter.com/intent/favorite?tweet_id={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000"><div class="favorite_span"></div>Favourite</a>
                                 <a class="reply" target="_blank" href="http://twitter.com/intent/tweet?in_reply_to={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000" ><div class="reply_span"></div>Reply</a>
                                 <a  data-toggle="tooltip" title="" data-original-title="{{ tweet.count_ret }}" class="retweet" target="_blank" href="http://twitter.com/intent/retweet?tweet_id={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000"><div class="retweet_span"></div>Retweet</a>
                             </div>
                        </div>







                {% endfor %}
        </div>
{% show_more %}