{% extends "base.html" %}
{% block full_index %}
{% include page_template %}


    {% block js %}





        <script src="{{ STATIC_URL }}/static/js/endless-pagination.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 20
        });
    </script>


{% endblock %}

{% endblock %}