{% extends "base.html"|pjax:request %}

{% block contenty %}
        <div id="home_tweets">
                {% for tweet in posts.all %}
                        <div id="post">
                        <a href="https://twitter.com/{{ tweet.user.nickname }}" class="user_post_link">
                             <img class="user_post_img" src="{{ tweet.user.profile_img }}">
                             <strong class="user_post_name">{{ tweet.user.name }}</strong>
                             <strong class="user_post_nick">@{{ tweet.user.nickname }}</strong>
                        </a>
                             <div class="tweettime">{# {{ tweet.creation_date }} #}</div>
                             <p class="user_post_text">{{ tweet.content|safe }}</p>
                             {% if tweet.url_img != 'none' %}
                             <img class="user_post_image" src="{{ tweet.url_img }}">
                             {% endif %}
                             <div class="icons">
                                 <a  class="twirank_post">Twirank: {{ tweet.twirank }}</a>
                                 <a data-toggle="tooltip" title="" data-original-title="{{ tweet.count_far }}" class="favorite" href="http://twitter.com/intent/favorite?tweet_id={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000" onclick="window.open('http://twitter.com/intent/favorite?tweet_id={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000', '_blank');" data-realhref="http://twitter.com/intent/favorite?tweet_id={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000"><div class="favorite_span"></div>Favourite</a>
                                 <a data-toggle="tooltip" title="" data-original-title="{{ tweet.count_ret }}" class="reply" href="http://twitter.com/intent/tweet?in_reply_to={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000" onclick="window.open('http://twitter.com/intent/tweet?in_reply_to={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000', '_blank');" data-realhref="http://twitter.com/intent/tweet?in_reply_to={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000"><div class="reply_span"></div>Reply</a>
                                 <a class="retweet" href="http://twitter.com/intent/retweet?tweet_id={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000" onclick="window.open('http://twitter.com/intent/retweet?tweet_id={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000', '_blank');" data-realhref="http://twitter.com/intent/retweet?tweet_id={{ tweet.id_twitt }}&amp;related=127.0.0.1:8000"><div class="retweet_span"></div>Retweet</a>
                             </div>
                        </div>
                {% endfor %}
        </div>
{% endblock %}
