<!DOCTYPE html>
<html>
<head>
    <title>twizoom</title>
</head>
<body>

{% block content %}
        <div id="home_tweets">
                {% for tweet in tweets %}

                        <div style="background-color: rgb(255, 255, 255); border: 1px solid rgb(225, 232, 237); box-sizing: border-box; line-height: 1.375em; padding: 13px 15px 15px; position: relative; width: 500px; margin-bottom: 15px;">
                             <div class="tweettext">{{ tweet.text}}</div>
                             <div class="tweettime">{{ tweet.retweet_count }}</div>
                             <div class="tweettime">{{ tweet.favorite_count }}</div>
                             <div class="tweettime">{{ tweet.id }}</div>
                             <div class="tweettime">   {{ tweet.created_at }}</div>
                             <div class="tweettime"><img src="{{ tweet.user.profile_image_url }}" ></div>
                             {% for tweety in tweet.entities.media %}
                             <div class="tweettime"><img style="width: 350px;" src="{{ tweety.media_url_https }}" ></div>
                             {% endfor %}

                             {% for tweety in tweet.entities.urls %}
                             <div class="tweettime">{{ tweety.expanded_url }}</div>
                             {% endfor %}
                        <hr>
                        </div>

                {% endfor %}
        </div>
{% endblock %}

</body>
</html>