{% extends "base.html" %}
{% load embed_video_tags %}

{% block contenty %}
        <div id="original_twit">


        {% for tweet in original %}

                        <div id="original_post">
                        <div class="original_user_post_video">
                        {% video tweet.video as my_video %}
                        {% video my_video '100% x 100%' %}
                        {% endvideo %}
                        </div>
                        {% if tweet.url_img != 'none' %}
                             <img class="original_user_post_image" src="{{ tweet.url_img }}">
                        {% endif %}
                        <a href="https://twitter.com/{{ tweet.user.nickname }}" target="_blank" class="original_user_post_link">
                             <img class="original_user_post_img" src="{{ tweet.user.profile_img }}">
                             <strong class="original_user_post_name">{{ tweet.user.name }}</strong>
                             <strong class="original_user_post_nick">@{{ tweet.user.nickname }}</strong>
                        </a>
                             <div class="original_tweettime">{# {{ tweet.creation_date }} #}</div>
                             <p class="original_user_post_text">{{ tweet.content|safe }}</p>


                             <div class="original_icons">
                                 <a  class="original_twirank_post">{{ tweet.twirank|cut:"-" }}</a>
                                 <a data-toggle="tooltip" title="" data-original-title="{{ tweet.count_far }}" class="original_favorite" target="_blank" href="http://twitter.com/intent/favorite?tweet_id={{ tweet.id_twitt }}&amp;related=twizoom.com"><div class="original_favorite_span"></div>Favourite</a>
                                 <a class="original_reply" target="_blank" href="http://twitter.com/intent/tweet?in_reply_to={{ tweet.id_twitt }}&amp;related=twizoom.com" ><div class="original_reply_span"></div>Reply</a>
                                 <a  data-toggle="tooltip" title="" data-original-title="{{ tweet.count_ret }}" class="original_retweet" target="_blank" href="http://twitter.com/intent/retweet?tweet_id={{ tweet.id_twitt }}&amp;related=twizoom.com"><div class="original_retweet_span"></div>Retweet</a>
                             </div>
                        </div>
        {% endfor %}



        </div>
        <div id="home_tweets">
                <div id="original_related"><p>Related tweets</p></div>
                {% for tweet in posts %}

                        <div id="similar_post">
                        <a href="https://twitter.com/{{ tweet.user.nickname }}" target="_blank" class="similar_user_post_link">
                             <img class="similar_user_post_img" src="{{ tweet.user.profile_img }}">
                             <strong class="similar_user_post_name">{{ tweet.user.name }}</strong>
                             <strong class="similar_user_post_nick">@{{ tweet.user.nickname }}</strong>
                        </a>
                             <div class="similar_tweettime">{# {{ tweet.creation_date }} #}</div>
                             <p class="similar_user_post_text">{{ tweet.content|safe }}</p>
                             {% if tweet.url_img != 'none' %}
                             <img class="similar_user_post_image" src="{{ tweet.url_img }}">
                             {% endif %}
                             <a  class="similar_twirank_post">{{ tweet.twirank|cut:"-" }}</a>
                        </div>
                {% endfor %}
        </div>
{% endblock %}
